# Ignorar todo por defecto
*

# ¡Excepto backend y frontend y todo su contenido!
!backend/
!backend/**
!frontend/
!frontend/**

# Ignorar archivos .env y node_modules dentro de backend y frontend
backend/.env
frontend/.env
backend/node_modules/
frontend/node_modules/

# Ignorar archivos de sistema y temporales
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
